div.post {
  /* text-align: left; */
  text-align: center;
  align-items: center;
  display: block;
  border: 1px solid #eee;
  box-shadow: 0 1px 1px #ccc;
  /* width: 400px; */
  padding: 10px;
  margin: 10px;
  /* display: flex; */
}

.post small {
  float: left;
}